@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --amarelo: #FFBF00;
  --branco: #EEEEEE;
  --verde-1: #6FCF97;
  --verde-2: #2FA084;
  --verde-3: #1F6F5F;
  --cinza: #151f25;
}

@theme {
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1800px;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* cores */
  --color-amarelo: var(--amarelo);
  --color-branco: var(--branco);
  --color-verde-1: var(--verde-1);
  --color-verde-2: var(--verde-2);
  --color-verde-3: var(--verde-3);
  --color-cinza: var(--cinza);

  /* fontes */
  --font-bebas-neue: var(--font-bebas-neue);
  --font-koulen: var(--font-koulen);
  --font-poppins: var(--font-poppins);
  --font-oswald: var(--font-oswald);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}